---
interface Props  {
    title: string,
    description: string,
    links: Array<string>,
    date: string
}

const { title, date, description, links } = Astro.props
---

<li class="mb-10 ms-6">
    <span class="absolute flex items-center justify-center w-6 h-6 bg-red-100 rounded-full -start-3 dark:bg-gray-800">
        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
        </svg>
    </span>
    <h3 class="flex items-center mb-1 text-lg font-semibold text-yellow-300/50 dark:text-yellow-300/50">
        {title}
    </h3>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
        {date}
    </time>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400 text-pretty">
        {description}
    </p>

    {
        links.length &&
            <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">
                Some Jobs:
            </h2>
            <ul class="not-prose max-w-md space-y-1 text-red-200/75 list-none list-inside dark:text-red-200/75">
                {
                    links.map((link) => (
                        <li>
                           <a
                               href={link}
                               target="_blank">{ link }
                           </a>
                        </li>
                    ))
                }
            </ul>
    }

    <div class="mt-5">
        <button
            class="py-1.5 px-3 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg
                border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100
                dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
                dark:hover:bg-gray-700"
        >
            Learn more
        </button>
    </div>
</li>

