---
import ExperienceItem from "./ExperienceItem.astro"
import Portfolio from "./icons/PortfolioIcon.astro"

const experience = [
    {
        title: "Hyphen Fx",
        date: "09/2021-12/2024",
        description: `Developed new features and optimized functionality using Laravel 11 and Vue 3, leveraging Vite 
                      for modern build processes and Pinia for state management in SPAs. Built Restful APIs, 
                      integrated AWS services (S3, SES, SQS), created multi-channel notification systems, and designed 
                      responsive UIs with Vuetify.js and Vue 3's Composition API. Utilized Docker for development 
                      environments and implemented testing with PHPUnit, Jest, and Selenium.`,
        links: [
            "https://www.hyphenfi.com/",
            "https://secure.atlaspersonalfinance.com/login/",
            "https://app.atlaspersonalfinance.com/step-1",
            "https://atlaspersonalfinance.com/"
        ]
    },
    {
        title: "Kar Global (High Tech Locksmith)",
        date: "06/2016 - 09/2021",
        description: ` Developed and maintained CRM features using PHP (Laravel 8), built secure APIs with OAuth2 
                       and Firebase, implemented real-time updates with Socket.io and Node.js, designed responsive 
                       UIs using Bootstrap 3 and Vue.js, and followed Agile/Scrum methodologies.`,
        links: [
            "https://www.htlkeys.com/",
            "https://htltech.com/",
            "https://corporate.openlane.com/"
        ]
    },
]
---

<div class="some-content w-[50%] text-white h-[75%]"
>
    <div class="title flex flex-row gap-x-2 justify-start items-center">
        <Portfolio customClass="size-6 mt-1"/>
        <h2 class="text-2xl font-bold text-white underline">
            Experience
        </h2>
    </div>

    <div class="experience-content p-4 text-white
            overflow-y-auto
            scrollbar-thumb-rounded-sm scrollbar-track-rounded-full scrollbar-thin
            scrollbar-thumb-red-950/55 scrollbar-track-gray-900 h-[90%]"
    >
        <ol class="relative border-s border-gray-200 dark:border-gray-700">
            {
                experience.map((item) => (
                    <ExperienceItem {...item} />
                ))
            }
        </ol>
    </div>
</div>
