---
import SocialPill from "./SocialLink.astro"
---

<footer class="bg-transparent fixed bottom-0 w-full px-8 py-4 flex justify-between items-center">
  <p class="text-xs text-gray-700">
    © {new Date().getFullYear()} Henry Carmenate. Built using Astro and Tailwind
    CSS.
  </p>
  <SocialPill />
</footer>
