---
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/Linkedin.astro";
import Mail from "./icons/Mail.astro";
import SocialPill from "./SocialPill.astro";
---

<div class="space-x-4 mt-2 flex">
    <SocialPill href="https://github.com/hhcarmenate" target="_blank">
        <Github customClass="size-6"/>
    </SocialPill>

    <SocialPill href="https://www.linkedin.com/in/henry-carmenate-8a48b276/" target="_blank">
        <LinkedIn customClass="size-6"/>
    </SocialPill>

    <SocialPill href="mailto:henrycarmenateg@gmail.com" target="_blank">
        <Mail customClass="size-6"></Mail>
    </SocialPill>
</div>
