---

---

<div id="container" class="container w-full min-w-screen mx-auto min-h-screen flex items-center justify-center">
    <div class="welcome-container w-full flex flex-row justify-between">
        <div class="description w-1/2 flex flex-col justify-center">
            <div class="my-photo w-52 h-52 border rounded-full overflow-hidden">
                <img src="../../public/16532763.png" alt="My photo" class="w-full h-full object-cover">
            </div>
            <h2 class="text-2xl font-bold mt-5">
                Full Stack Engineer
            </h2>
            <p>
                +10 year of Experience. <span class="text-yellow-300/50">Web developer, Backend and FrontEnd.</span>
                <span class="text-red-200/75">From Miami, Florida.</span> Specialized in
                custom-unique solutions
            </p>
        </div>
        <div class="some-content w-1/2 prose text-white">
            <h2 class="text-2xl font-bold w-1/2 text-white underline">
                About me
            </h2>
            <p>
                I’m a software engineer passionate about building scalable, efficient, and high-performing web
                applications that seamlessly integrate innovative design with robust functionality.
                My favorite work is creating dynamic user experiences backed by solid architecture,
                ensuring performance, usability, and scalability.
            </p>
            <p>
                Currently, I’m a Software Engineer at Hyphen, where I lead the development of new features and
                optimize existing functionalities using Laravel 11 and Vue 3. I focus on crafting responsive
                user interfaces, integrating advanced state management, and leveraging cloud services to deliver secure,
                modern solutions that meet business objectives.
            </p>
            <p>
                Over the past decade, I’ve had the opportunity to work in diverse environments—from large corporations
                to freelance projects and academic institutions. I’ve developed APIs, implemented real-time updates,
                and designed intuitive user interfaces across industries, all while embracing Agile methodologies and
                modern development practices.
            </p>
            <p>
                Outside of work, you’ll often find me exploring new programming languages, diving into mathematics,
                or spending time with my family in Miami. I’m driven by a passion for continuous learning and love
                collaborating on innovative projects that push the boundaries of web development.
            </p>
        </div>
    </div>
</div>
