---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
    />
    <meta charset="UTF-8">
    <title>My Portfolio</title>
  </head>
  <body class="bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(255,102,102,0.3),rgba(255,255,255,0))] flex flex-col min-h-[100vh] min-w-[100vw] font-sans  text-white">
    <Navbar />
    <main class="flex-grow flex-shrink-0">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
</style>
